<!--<tr class="list-group-item"-->
<!--*ngIf="!deleted"-->
<!--[ngClass]="{ 'disabled' : listItem.disabled}">-->
  <!--<td>{{listItem.amount}}</td>-->
  <!--<td>{{listItem.name}}</td>-->
  <!--<td>{{listItem.unitary_value}}</td>-->
  <!--<td>{{listItem.amount * listItem.unitary_value}}</td>-->
  <!--<td class="float-right" *ngIf=!listItem.disabled>-->
    <!--<span class="badge badge-danger" (click)="remove()">X</span>-->
    <!--<span class="badge badge-success" (click)="edit()">V</span>-->
  <!--</td>-->
<!--</tr>-->



