<div class="margin-table">
  <form action="/action_page.php">
    <label for="name">Item mame</label>
    <input type="text" id="name" name="name" placeholder="Item name" [(ngModel)]="itemName">
    <label for="amount">Quantidade</label>
    <input type="number" id="amount" name="amount" placeholder="Qauntidade" [(ngModel)]="itemAmount">
    <label for="unitary">Valor unitario</label>
    <input type="number" id="unitary" name="unitary" placeholder="Valor unitario" [(ngModel)]="itemUnityValue">
    <span><label name="total">Valor total: {{getValueTotal()}}</label></span>
    <button type="submit" class="btn btn-primary" (click)="addObjectToList()">Add</button>
  </form>
</div>
<h1>Lista de itens</h1>
<h2>Valor total dos itens: R{{getTotal() | currency}}</h2>
<table class="table">
  <thead>
  <tr>
    <th>Quantidade</th>
    <th>Nome Item</th>
    <th>Valor Unitario</th>
    <th>Valor Total</th>
    <th>Opções</th>
  </tr>
  </thead>
  <tbody >
    <tr *ngFor="let item of listItems" [ngClass]="{ 'disabled' : item.disabled}" >
      <td>{{item.amount}}</td>
      <td>{{item.name}}</td>
      <td>{{item.unitary_value}}</td>
      <td>{{item.amount * item.unitary_value}}</td>
      <td >
        <span class="badge badge-danger min-value" *ngIf="!item.disabled" (click)="remove(item)">X</span>
        <span class="badge badge-success min-value" *ngIf="!item.disabled"  (click)="edit(item)">V</span>
      </td>
    </tr>
  </tbody>
</table>
